[DEFAULT]
ConnectionType=initiator
ReconnectInterval=5
FileStorePath=store
FileLogPath=log
StartTime=00:00:00
EndTime=00:00:00
UseDataDictionary=Y
DataDictionary=../../spec/FIX42.xml
HttpAcceptPort=9911
SocketNodelay=Y

# standard config elements

[SESSION]
# inherit ConnectionType, ReconnectInterval and SenderCompID from default
BeginString=FIX.4.2
SenderCompID=CLIENT1
TargetCompID=EXECUTOR
SocketNodelay=Y
SocketConnectHost=127.0.0.1
SocketConnectPort=5055
HeartBtInt=30 
ResetOnLogon=Y
PersistMessages=N
ValidateFieldsOutOfOrder=N
ValidateFieldsHaveValues=N
ValidateUserDefinedFields=N
ValidateRequiredFields=N
ValidateUnknownFields=N
ValidateUnknownMsgType=N
SendBufferSize=1048576
RecvBufferSize=1048576
